<?xml version="1.0" encoding="UTF-8"?>

<!--  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans xmlns = "http://www.springframework.org/schema/beans"
   	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   	xsi:schemaLocation = "http://www.springframework.org/schema/beans
   	http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context/spring-context.xsd"
   	xmlns:context="http://www.springframework.org/schema/context"
   	default-init-method="myInit" default-destroy-method="cleanUp">
-->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context/ 
    http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="triangle" class="com.mnaufalazwar.springframeworkbasic.Triangle" name="triangle-name" init-method="myInit">
		<property name="pointA" ref="zeroPoint">
		</property>
		<property name="pointB">
			<bean class="com.mnaufalazwar.springframeworkbasic.Point">
				<property name="x" value="-20"></property>
				<property name="y" value="0"></property>
			</bean>
		</property>
		<property name="pointC">
			<bean class="com.mnaufalazwar.springframeworkbasic.Point">
				<property name="x" value="20"></property>
				<property name="y" value="0"></property>
			</bean>
		</property>
	</bean>
	
	<bean id="zeroPoint" class="com.mnaufalazwar.springframeworkbasic.Point">
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean>
	
	
	<bean id="pointA" class="com.mnaufalazwar.springframeworkbasic.Point">
		<property name="x" value="10"></property>
		<property name="y" value="10"></property>
	</bean>
	 <!-- <alias name="pointA" alias="center"/>  --> 
	
	<bean id="pointB" class="com.mnaufalazwar.springframeworkbasic.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean id="pointC" class="com.mnaufalazwar.springframeworkbasic.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean id="center" class="com.mnaufalazwar.springframeworkbasic.Point">
		<property name="x" value="10"></property>
		<property name="y" value="10"></property>
	</bean>
	
	<alias name="triangle" alias="triangle-alias"/>
	
	<bean id="triangleList" class="com.mnaufalazwar.springframeworkbasic.TriangleList">
		<property name="points">
			<list>
				<ref bean="zeroPoint"/>
				<ref bean="pointA"/>
				<ref bean="pointB"/>
				<ref bean="pointC"/>
			</list>
		</property>
	</bean>
	
	<bean id="triangleBeanAutowire" class="com.mnaufalazwar.springframeworkbasic.TriangleBeanAutowire" autowire="byName">
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"></property>
	</bean>
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor">
	</bean>
	
	<bean id="circle" class="com.mnaufalazwar.springframeworkbasic.Circle">
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>mymessages</value>
			</list>
		</property>
	</bean>
	
</beans>